.card {
  width: 60rem;
}

.card-body {
  background-color: rgba(130, 166, 231, 0.296);
}

.card-header {
    background-color: darkseagreen !important;
}

.dark {
  background-color: black !important;
  color: white !important;
}

.light {
  background-color: white !important;
  color: black !important;
}

.theme-btn {
  box-shadow: 1px 3px 3px 2px rgba(76, 0, 130, 0.807) !important;
}

.show-result.alert-success {
  color: #0f5132;
  background-color: #d1e7dd;
  border-color: #badbcc;
}